<html>
<head>
    <title>The Newells</title>
    <link rel="stylesheet" href="styles/mainstyles.css">
</head>
<body>
    <p>
        Website Development currently in progress! Check back later. Next Update planned for May 27th 2017.
    </p>
</body>
</html>
